@import url(https://fonts.googleapis.com/css?family=VT323);

:root {
    --meny-size: 25px;
    --headline-fonts: "Menlo","Arial", sans-serif;
    --body-fonts: "VT323", "Courier", "Roboto", "Arial", sans-serif;
    --main-gray: dimgray;
    --main-bluegray: #3a3d40;
    --main-white: white;
    --main-blue: #2f3f4f;
    --height: 100vh;
    --height-auto: auto;
    --height-90: 85vh;
    --BGcolor: #262822;
    --BGcolor: linear-gradient(#262822 70%, black 120%)
}

* {
  margin: 0px;
  padding: 0px;
  z-index: 1;
}

html{
  position: relative;
}

body {
  position: relative;
  font-size: 1em;
  border: solid red 1px;
  width: 320px;
  height: 100vh;
  font-family: var(--body-fonts);
  color: white;
  background: var(--BGcolor);
  /* z-index: 1; */
  /* background: url(sonyMonitorTiny.png);
  background-size: 320px;
  background-repeat: no-repeat;
  background-position: center; */


}

/* Background image */

.bgcontainer {
  border: solid blue 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  border: red solid 1px;
  /* align-items: center; */
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100vh;
  /* padding: 0; */
  overflow: hidden;
  text-align: center;
  line-height: 300px;
}

.bgimg {
  display: block;
  position: relative;
  /* top: 50%;
  left: 50%;
  transform: translate(-30%, -60%); */
  max-width: 136%;
  max-height: 100%;

}

/* Interface menu */

header {
  display: block;
  width: auto;
  border: solid red 1px;
  width: 100%;
}

.navbar {
  /* max-width: 100%; */
  width: 100%;
  display: block;
  position: relative;
  top: 10vh;
  background-color: white;

}

.navbar > ul > li > a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: 1.2em;
}

.navbar > ul > li > a:hover{
  background-color: black;
  color: white;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

h1{
  font-size: 1.2em;
}

.sectionA {
  display: block;
  position: relative;
  top: 10vh;
  width: 320px;
  overflow: hidden;

}

.headline {
    width: 12em;
    position: relative;
    border-right: 5px solid rgba(0, 0, 0, 0);
    font-size: 2em;
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
}

.sectionB {
  position: absolute;
  top: 500px;
}

/* Animation */
.terminal1 {
    animation: typewriter 1s steps(25) 500ms 1 normal both,
               blinkTextCursor 400ms steps(30) 13 normal,
               fadeOutCursor 500ms 1.8s ease-out forwards;
  
  }
  @keyframes typewriter {
    from{width: 0;}
    to{width: 6.5em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor {
      to{border-right-color: transparent;}
  }
  
  @keyframes fadein {
      from{opacity: 0;}
      to{opacity: 1;}
  }
  

p {
  color: white;
}

  .info1 {
    width: 12em;
    display: block;
    position: relative;
    /* margin: 0 auto; */
    border-right: 3px solid rgba(0, 0, 0, 0);
    font-size: 100%;
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
  }

  .terminal2 {
    animation:
        typewriter2 1s steps(35) 3s 1 normal both,
        blinkTextCursor2 400ms steps(35) 2s 13 normal,
        fadeOutCursor 500ms 4s ease-out forwards;
  
  }
  @keyframes typewriter2 {
    from{width: 0;}
    to{width: 22.2em;}
  }
  @keyframes blinkTextCursor2{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor2 {
      to{border-right-color: transparent;}
  }
  
  @keyframes fadein2 {
      from{opacity: 0;}
      to{opacity: 1;}
  }

  .info2 {
    width: 12em;
    display: block;
    position: relative;
    /* margin: 0 auto; */
    border-right: 3px solid rgba(0, 0, 0, 0);
    font-size: 100%;
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
  }

  .terminal3 {
    animation:
        typewriter2 1s steps(35) 5s 1 normal both,
        blinkTextCursor2 500ms steps(35) 6s 13 normal,
        fadeOutCursor 1s 7s ease-out forwards;
  
  }
  @keyframes typewriter2 {
    from{width: 0;}
    to{width: 22.2em;}
  }
  @keyframes blinkTextCursor2{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor2 {
      to{border-right-color: transparent;}
  }
  
  @keyframes fadein2 {
      from{opacity: 0;}
      to{opacity: 1;}
  }

  .info3 {
    width: 12em;
    display: block;
    position: relative;
    /* margin: 0 auto; */
    border-right: 3px solid rgba(0, 0, 0, 0);
    font-size: 100%;
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
  }

  .terminal4 {
    animation:
        typewriter2 1s steps(35) 8s 1 normal both,
        blinkTextCursor2 500ms steps(35) 8s normal,
        fadeOutCursor 1s 7s ease-out forwards;
  
  }
  @keyframes typewriter2 {
    from{width: 0;}
    to{width: 22.2em;}
  }
  @keyframes blinkTextCursor2{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor2 {
      to{border-right-color: transparent;}
  }
  
  @keyframes fadein2 {
      from{opacity: 0;}
      to{opacity: 1;}
  }

  .info4 {
    width: 12em;
    display: block;
    position: relative;
    /* margin: 0 auto; */
    border-right: 3px solid rgba(0, 0, 0, 0);
    font-size: 100%;
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
  }

  .terminal5 {
    animation:
        typewriter2 1s steps(35) 10s 1 normal both,
        blinkTextCursor2 500ms steps(35) 10s 13 normal,
        fadeOutCursor 1s 7s ease-out forwards;
  
  }
  @keyframes typewriter2 {
    from{width: 0;}
    to{width: 22.2em;}
  }
  @keyframes blinkTextCursor2{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor2 {
      to{border-right-color: transparent;}
  }
  
  @keyframes fadein2 {
      from{opacity: 1;}
      to{opacity: 0;}
  }

.turndevice {
  background: black;
  z-index: 10;
  display: none;
  position: absolute;
  top: 500px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.turndevice > p {
  display: block;
  position: relative;
  color: white;
  transform: rotate(-90deg);
}


  /* @media only screen and (min-device-width: 375px) and (max-device-width: 375px) 
  and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71){
    }
    body {
      width: 375px;
    }
  } */

    /* and (orientation: landscape){
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    } */

  /* and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape) */

  @media only screen 
  and (min-width: 375px) 
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2){
    body {
      width: 375px;
      /* height: 667px; */
    }
  }

  /* @media only screen 
  and (min-width: 667px) 
  and (max-width: 375px)
  and (-webkit-min-device-pixel-ratio: 2){
    body {
      width: 667px;
      /* height: 667px; */

  @media only screen 
  and (min-width: 414px)
  and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2){
    body {
      width: 414px;
      /* height: 736px; */
    }
  }

  @media only screen and (orientation: landscape){
    .turndevice{
      display: block;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      transform-origin: left top;
      position: absolute;
      top: 100%;
      left: 0;
    }

    .bgcontainer,
    header,
    main,
    footer {
      display: none;
      /* width: 700px; */
    }
    /* .bgcontainer {
      height: auto;
      width: auto;
    } */
  }