@import url(https://fonts.googleapis.com/css?family=VT323);

:root {
    --meny-size: 1.3em;
    --headline-fonts: "Menlo","Arial", sans-serif;
    --body-fonts: "VT323", "Courier", "Roboto", "Arial", sans-serif;
    --main-gray: dimgray;
    --main-bluegray: #3a3d40;
    --main-white: white;
    --main-blue: #2f3f4f;
    --height: 100vh;
    --height-auto: auto;
    --height-90: 85vh;
    --BGcolor: #262822;
    --BGcolor: linear-gradient(#262822 70%, black 120%)
}

* {
  margin: 0px;
  padding: 0px;
  z-index: 1;
  box-sizing: border-box;
}

html{
  background-color: black;
}

body {
  position: relative;
  font-size: 1em;
  border: solid red 1px;
  width: 320px;
  height: 100vh;
  font-family: var(--body-fonts);
  color: white;
  background: var(--BGcolor);
  grid-template-areas:
  "header"
  "main"
  "footer"
}

/* Background image */

.bgcontainer {
  border: solid blue 1px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border: red solid 1px;
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center;
}

.bgimg {
  max-width: 136%;
}

/* Interface menu */

header {
  grid-area: header;
  border: solid blue 1px;
  height: 12%;
  display: flex;
  justify-items: space-between;
  align-items: flex-end;
  justify-content: center;
}

.navbar {
  width: 100%;
  background-color: white;
  border: solid orange 1px;

}

ul {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
}

.navbar > ul > li > a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: var(--meny-size);
}

.navbar > ul > li > a:hover{
  background-color: black;
  color: white;
}

main {
  grid-area: main;
}

.sectionA {
  /* display: block; */
  width: 100%;
  padding-left: .5em;
  /* overflow: hidden; */
}


.sectionA > p{
  font-size: 1.2em;
}

.sectionA a {
  text-decoration: none;
  text-decoration: underline;
  color: var(--main-white);
}

h1{
  font-size: 1.2em;
}

.headline {
    width: 12em;
    display: block;
    border-right: 5px solid rgba(0, 0, 0, 0);
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
}

.sectionB {
display: none;
}

/* Animation */
.terminal1 {
    animation: typewriter 1s steps(25) 500ms 1 normal both,
               blinkTextCursor 400ms steps(25) 13 normal,
               fadeOutCursor 500ms 1.8s ease-out forwards;
  
  }
  @keyframes typewriter {
    from{width: 0;}
    to{width: 8em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor {
      to{border-right-color: transparent;}
  }
  
  /* @keyframes fadein {
      from{opacity: 0;}
      to{opacity: 1;}
  } */

  .info1 {
    width: 8em;
    display: block;
    /* position: relative; */
    /* margin: 0 auto; */
    border-right: 3px solid rgba(0, 0, 0, 0);
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
  }

  .terminal2 {
    animation:
        typewriter2 1s steps(25) 2.5s 1 normal both,
        blinkTextCursor2 400ms steps(25) 2s 13 normal,
        fadeOutCursor2 500ms 3.6s ease-out forwards;
  
  }
  @keyframes typewriter2 {
    from{width: 0;}
    to{width: 14.5em;}
  }
  @keyframes blinkTextCursor2{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor2 {
      to{border-right-color: transparent;}
  }
  
  /* @keyframes fadein2 {
      from{opacity: 0;}
      to{opacity: 1;}
  } */

  .info2 {
    width: 12em;
    display: block;
    /* position: relative; */
    /* margin: 0 auto; */
    border-right: 3px solid rgba(0, 0, 0, 0);
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
  }

  .terminal3 {
    animation:
        typewriter3 1s steps(25) 4s 1 normal both,
        blinkTextCursor3 400ms steps(25) 3.5s 13 normal,
        fadeOutCursor3 500ms 4.8s ease-out forwards;
  
  }
  @keyframes typewriter3 {
    from{width: 0;}
    to{width: 15em;}
  }
  @keyframes blinkTextCursor3{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor3 {
      to{border-right-color: transparent;}
  }
  
  /* @keyframes fadein3 {
      from{opacity: 0;}
      to{opacity: 1;}
  } */

  .info3 {
    width: 12em;
    display: block;
    position: relative;
    /* margin: 0 auto; */
    border-right: 3px solid rgba(0, 0, 0, 0);
    font-size: 100%;
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
  }

  .terminal4 {
    animation:
        typewriter4 1s steps(25) 5s 1 normal both,
        blinkTextCursor4 400ms steps(25) 5.2s normal,
        fadeOutCursor4 500ms 6.5s ease-out forwards;
  
  }
  @keyframes typewriter4 {
    from{width: 0;}
    to{width: 15em;}
  }
  @keyframes blinkTextCursor4{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor4 {
      to{border-right-color: transparent;}
  }
  
  /* @keyframes fadein4 {
      from{opacity: 0;}
      to{opacity: 1;}
  } */

  .info4 {
    width: 12em;
    display: block;
    position: relative;
    /* margin: 0 auto; */
    border-right: 3px solid rgba(0, 0, 0, 0);
    /* font-size: 100%; */
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
  }

  .terminal5 {
    animation:
        typewriter5 1s steps(35) 6.3s 1 normal both,
        blinkTextCursor5 400ms steps(35) 6s 13 normal,
        fadeOutCursor5 500ms 7.5s ease-out forwards;
  
  }
  @keyframes typewriter5 {
    from{width: 0;}
    to{width: 12em;}
  }
  @keyframes blinkTextCursor5{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor5 {
      to{border-right-color: transparent;}
  }
  
  /* @keyframes fadein5 {
      from{opacity: 1;}
      to{opacity: 0;}
  } */



  .info5 {
    width: 12em;
    display: block;
    position: relative;
    /* margin: 0 auto; */
    border-right: 3px solid rgba(0, 0, 0, 0);
    /* font-size: 100%; */
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
  }

  .terminal6 {
    animation:
        typewriter6 1s steps(25) 8s 1 normal both,
        blinkTextCursor6 400ms steps(25) 7.5s 13 normal,
        fadeOutCursor6 500ms 9s ease-out forwards;
  
  }
  @keyframes typewriter6 {
    from{width: 0;}
    to{width: 12em;}
  }
  @keyframes blinkTextCursor6{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor6{
      to{border-right-color: transparent;}
  }

  .info6 {
    width: 12em;
    display: block;
    position: relative;
    /* margin: 0 auto; */
    border-right: 3px solid rgba(0, 0, 0, 0);
    /* font-size: 100%; */
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
  }

  .terminal7 {
    animation:
        typewriter7 1s steps(10) 9.2s 1 normal both,
        blinkTextCursor7 400ms steps(15) 9.1s 13 normal,
        fadeOutCursor7 500ms 9.8s ease-out forwards;
  
  }
  @keyframes typewriter7 {
    from{width: 0;}
    to{width: 4em;}
  }
  @keyframes blinkTextCursor7{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor7{
      to{border-right-color: transparent;}
  }
  
  .info7 {
    width: 12em;
    display: block;
    position: relative;
    /* margin: 0 auto; */
    border-right: 3px solid rgba(0, 0, 0, 0);
    /* font-size: 100%; */
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
  }

  .terminal8 {
    animation:
        typewriter8 1s steps(10) 10.2s 1 normal both,
        blinkTextCursor8 400ms steps(35) 10s 13 normal,
        fadeOutCursor8 500ms 11s ease-out forwards;
  
  }
  @keyframes typewriter8 {
    from{width: 0;}
    to{width: 4em;}
  }
  @keyframes blinkTextCursor8{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor8{
      to{border-right-color: transparent;}
  }

  .info8 {
    width: 12em;
    display: block;
    position: relative;
    /* margin: 0 auto; */
    border-right: 3px solid rgba(0, 0, 0, 0);
    /* font-size: 100%; */
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
  }

  .terminal9 {
    animation:
        typewriter9 1s steps(15) 11.5s 1 normal both,
        blinkTextCursor9 400ms steps(15) 11.2s 13 normal,
        fadeOutCursor9 500ms 12.2s ease-out forwards;
  
  }
  @keyframes typewriter9 {
    from{width: 0;}
    to{width:12em;}
  }
  @keyframes blinkTextCursor9{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor9{
      to{border-right-color: transparent;}
  }
 
  .info9 {
    width: 12em;
    display: block;
    position: relative;
    /* margin: 0 auto; */
    border-right: 3px solid rgba(0, 0, 0, 0);
    /* font-size: 100%; */
    /* text-align: center; */
    white-space: nowrap;
    overflow: hidden;
    /* transform: translateY(-50%);     */
  }

  .terminal10 {
    animation:
        typewriter10 1s steps(15) 12.8s 1 normal both,
        blinkTextCursor10 400ms steps(15) 12.5s 13 normal,
        fadeOutCursor10 500ms 13.2s ease-out forwards;
  
  }
  @keyframes typewriter10 {
    from{width: 0;}
    to{width: 12em;}
  }
  @keyframes blinkTextCursor10{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor10{
      to{border-right-color: transparent;}
  }

.info10 {
  width: 12em;
  display: block;
  position: relative;
  /* margin: 0 auto; */
  border-right: 3px solid rgba(0, 0, 0, 0);
  /* font-size: 100%; */
  /* text-align: center; */
  white-space: nowrap;
  overflow: hidden;
  /* transform: translateY(-50%);     */
}

.terminal11 {
  animation:
      typewriter11 1s steps(2) 13.6s 1 normal both,
      blinkTextCursor11 400ms steps(2) 13.4s infinite normal;
      /* fadeOutCursor10 500ms 14s ease-out forwards; */

}
@keyframes typewriter11 {
  from{width: 0;}
  to{width: 0.2em;}
}
@keyframes blinkTextCursor11{
  from{border-right-color: transparent;}
  to{border-right-color: var(--main-white);}
}

/* @keyframes fadeOutCursor10{
    to{border-right-color: transparent;}
} */

.turndevice {
display: none;
border: green solid 1px;
text-align: center;
}

.turndevice > p {
display: inline-block;
color: white;
}

  @media only screen 
  and (min-width: 375px) 
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2){
    body {
      width: 375px;
    }
  }

  @media only screen 
  and (min-width: 414px)
  and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2){
    body {
      width: 414px;
    }
  }

  @media only screen and (orientation: landscape){
    .turndevice{
      grid-area: header main footer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      background-color: black;
      width: 100%;
      height: 100%;
    }
    body{
      width: 100%;
    }

    /* html{
      height: 100%;
      background-color: blue;
    } */

    /* body{
      display: none;
      max-width: 1196px;
      max-height: 672px;
    } */

    /* .bgcontainer,
    header,
    main,
    footer {
      display: none; */
      /* width: 700px; */
    }
    /* .bgcontainer {
      height: auto;
      width: auto;
    } */

      /* -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); */