@import url(https://fonts.googleapis.com/css?family=VT323);
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

:root {
    --menu-size: 1.3rem;
    --headline-fonts: "Menlo","Arial", sans-serif;
    --body-fonts: "VT323", "Courier", "Roboto", "Arial", sans-serif;
    --main-gray: dimgray;
    --main-bluegray: #3a3d40;
    --main-white: white;
    --main-blue: #2f3f4f;
    --height: 100vh;
    --height-auto: auto;
    --height-90: 85vh;
    --BGcolor: #262822;
    --BGcolor: linear-gradient(#262822 70%, black 120%);
    --device-width: 320px;
    --menu-height: 65px;
    --screen-height: 225px;
    --monitor-height: calc(var(--screen-height) +  var(--menu-size));
    --monitor-top-height: calc(var(--menu-height) - var(--menu-size));
    --monitor-button-section-height: 110px;
    --monitor-button-height: 50px;
    --monitor-button-width: 125px;
}

* {
  /* font-size: px; */
  margin: 0px;
  padding: 0px;
  z-index: 1;
  box-sizing: border-box;
}

html{
  background-color: black;
}

body {
  /* position: relative; */
  /* display: flex;
  flex-direction: column; */
  font-size: 1rem;
  outline: solid teal 3px;
  width: var(--device-width);
  min-height: 100vh;
  max-height: 100%;
  font-family: var(--body-fonts);
  color: white;
  background: var(--BGcolor);
}

/* Background image */
.bgcontainer {
  /* display: flex; */
  /* flex: 1 1 auto; */
  outline: solid blue 1px;
  /* align-items: flex-start;
  justify-content: center; */
  background-image: url("sonyMonitorTiny.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 136%;
}

.bgcontainer > * {
  flex: 1 1 auto;
}

.onMonitor {
  position: relative;
  background-image: radial-gradient(
    rgba(0, 17, 150, 0.75), black 120%);
  top: var(--monitor-top-height);
  height: var(--monitor-height);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 5), inset 0px 0px 50px 10px rgba(0, 0, 0, 5);
  border-radius: 10% 10% 10% 10%;
  overflow: hidden;
  /* outline: purple solid 3px; */
  margin-bottom: var(--monitor-top-height);
}

.onMonitor::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.03));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 5);
}

header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* grid-area: header; */
  /* outline: solid green 1px; */
  /* height: var(--menu-height); */
  /* align-items: flex-end; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* height: 2rem; */
  background-color: white;
  box-shadow: 0px 0px 5px 1px white;
  /* outline: solid orange 3px; */

}

ul {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /* box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 5); */
}

.navbar > ul > li > a {
  list-style-type: none;
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: var(--menu-size);
  /* box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 5); */
}

.navbar > ul > li > a:hover{
  background-color: black;
  color: white;
}

/* main {
  grid-area: main;
} */

.sectionA {
  flex: 1 1 auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-left: .5em;
  height: var(--screen-height);
}


.sectionA > p{
  font-size: 1.2em;
  text-shadow: 0 0 4px white;
}

.sectionA a {
  text-decoration: none;
  text-decoration: underline;
  color: var(--main-white);
}

h1{
  font-size: 1.2em;
  text-shadow: 0 0 3px white;
}

.headline {
    width: 12em;
    display: block;
    border-right: 5px solid rgba(0, 0, 0, 0);
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
}

.sectionB{
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-end;
  align-items: flex-start;
  height: var(--monitor-button-section-height);
  width: 100%;
  /* outline: solid red 3px; */
}


.imagebutton {
  /* flex-direction: row; */
  display: block;
  justify-self: flex-end;
  align-self: flex-end;
  width: var(--monitor-button-width);
  height: var(--monitor-button-height);
  /* background-color: rgba(255, 0, 0, 0.338); */
}

.imagebutton > .button {
  flex: 1 1 auto;
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 255, 0.267);
  z-index: 1;
}

.hidden {
  display: none;
}

.makerbutton {
  flex: 1 1 auto;
  justify-self: flex-end;
  align-self: flex-end;
  margin-right: 6px;
  width: var(--monitor-button-width);
  height: var(--monitor-button-height);
  background-color: rgba(255, 255, 255, 0.5);
}

.makerbutton > .button {
  flex: 1 1 auto;
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.082);
  z-index: 1;
}
.postit-1{
  flex: 1 2 auto;
  margin-right: 80%;
  justify-self: flex-start;
  align-content: flex-start;
  max-width: 60px;
  width: 50px;
  height: 55px;
  background-color: rgba(0, 0, 255, 0.303);
  z-index: 4;
}

.postit-1 > img {
  margin-top: -7px;
  margin-left: -14px;
  width: 120%;
  transform: skew(10deg, -15deg) scaleY(calc(6 / 8));
  filter: drop-shadow(2px 5px 4px rgb(0, 0, 0));
  /* transform: skew(35deg, -15deg); */
}

.postit-2{
  flex: 1 2 auto;
  justify-self: flex-end;
  align-self: flex-end;
  margin-right: 4px;
  max-width: 80px;
  width: 50px;
  height: 55px;
  z-index: 3;
  /* background-color: rgba(43, 255, 0, 0.303); */
}

.postit-2 > img {
  margin-top: -10px;
  width: 130%;
  transform: rotateZ(15deg);
  z-index: 2;
  filter: drop-shadow(3px 3px 4px rgb(0, 0, 0));
}

.postit-2 > figcaption {
  position: relative;
  white-space: pre;
  font-family: 'Caveat', cursive;
  transform: rotateZ(17deg);
  font-size: 0.8rem;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 0.5rem;
  color: black;
  margin-top: -60px;
  margin-left: 7px;
  z-index: 10;
}

.sectionC {
  /* height: 100%; */
  /* outline: pink solid 3px; */
  font-size: 1rem;
}

#asciiBildeAvMeg {
  font-size: 1rem;
  white-space: pre;
  text-shadow: 0px 0px 6px white;
}

#madeOf {
font-size: 0.9rem;
white-space: pre;
text-shadow: 0px 0px 6px white;
}

.hidden {
  display: none;
}

.ascii {
  text-align: center;
  font-size: 0.6rem;
  overflow: hidden;
  display: block;
}

.sitecreators {
  text-align: center;
  /* font-size: 0.6rem; */
  overflow: hidden;
  display: block;
}

#creators {
  width: 100%;
  height: 100%;

}

/* aside > * {
  text-shadow: 5px 2px 10px 10px white;
} */

/* Animation */
.terminal1 {
    animation: typewriter 1s steps(25) 500ms 1 normal both,
               blinkTextCursor 400ms steps(25) 13 normal,
               fadeOutCursor 500ms 1.8s ease-out forwards;
  
  }
  @keyframes typewriter {
    from{width: 0;}
    to{width: 18rem;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor {
      to{border-right-color: transparent;}
  }

  .infoAll {
    font-size: 1.2rem;
    display: block;
    border-right: 3px solid rgba(0, 0, 0, 0);
    white-space: nowrap;
    overflow: hidden;
  }


  .terminal2 {
    animation:
        typewriter2 1s steps(25) 2.5s 1 normal both,
        blinkTextCursor2 400ms steps(25) 2s 13 normal,
        fadeOutCursor2 500ms 3.6s ease-out forwards;
  
  }
  @keyframes typewriter2 {
    from{width: 0;}
    to{width: 16.2rem;}
  }
  @keyframes blinkTextCursor2{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor2 {
      to{border-right-color: transparent;}
  }
  
  /* @keyframes fadein2 {
      from{opacity: 0;}
      to{opacity: 1;}
  } */

  /* .info2 {

    display: block;

    border-right: 3px solid rgba(0, 0, 0, 0);

    white-space: nowrap;
    overflow: hidden;

  } */

  .terminal3 {
    animation:
        typewriter3 1s steps(25) 4s 1 normal both,
        blinkTextCursor3 400ms steps(25) 3.5s 13 normal,
        fadeOutCursor3 500ms 4.8s ease-out forwards;
  
  }
  @keyframes typewriter3 {
    from{width: 0;}
    to{width: 15em;}
  }
  @keyframes blinkTextCursor3{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor3 {
      to{border-right-color: transparent;}
  }
  
  .terminal4 {
    animation:
        typewriter4 1s steps(25) 5s 1 normal both,
        blinkTextCursor4 400ms steps(25) 5.2s normal,
        fadeOutCursor4 500ms 6.5s ease-out forwards;
  
  }
  @keyframes typewriter4 {
    from{width: 0;}
    to{width: 15em;}
  }
  @keyframes blinkTextCursor4{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor4 {
      to{border-right-color: transparent;}
  }

  .terminal5 {
    animation:
        typewriter5 1s steps(35) 6.3s 1 normal both,
        blinkTextCursor5 400ms steps(35) 6s 13 normal,
        fadeOutCursor5 500ms 7.5s ease-out forwards;
  
  }
  @keyframes typewriter5 {
    from{width: 0;}
    to{width: 12em;}
  }
  @keyframes blinkTextCursor5{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor5 {
      to{border-right-color: transparent;}
  }

  .terminal6 {
    animation:
        typewriter6 1s steps(25) 8s 1 normal both,
        blinkTextCursor6 400ms steps(25) 7.5s 13 normal,
        fadeOutCursor6 500ms 9s ease-out forwards;
  
  }
  @keyframes typewriter6 {
    from{width: 0;}
    to{width: 14rem;}
  }
  @keyframes blinkTextCursor6{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor6{
      to{border-right-color: transparent;}
  }

  .terminal7 {
    animation:
        typewriter7 1s steps(10) 9.2s 1 normal both,
        blinkTextCursor7 400ms steps(15) 9.1s 13 normal,
        fadeOutCursor7 500ms 9.8s ease-out forwards;
  
  }
  @keyframes typewriter7 {
    from{width: 0;}
    to{width: 11rem;}
  }
  @keyframes blinkTextCursor7{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor7{
      to{border-right-color: transparent;}
  }

  .terminal8 {
    animation:
        typewriter8 1s steps(10) 10.2s 1 normal both,
        blinkTextCursor8 400ms steps(35) 10s 13 normal,
        fadeOutCursor8 500ms 11s ease-out forwards;
  
  }
  @keyframes typewriter8 {
    from{width: 0;}
    to{width: 10rem;}
  }
  @keyframes blinkTextCursor8{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor8{
      to{border-right-color: transparent;}
  }

  .terminal9 {
    animation:
        typewriter9 1s steps(15) 11.5s 1 normal both,
        blinkTextCursor9 400ms steps(15) 11.2s 13 normal,
        fadeOutCursor9 500ms 12.2s ease-out forwards;
  
  }
  @keyframes typewriter9 {
    from{width: 0;}
    to{width: 16rem;}
  }
  @keyframes blinkTextCursor9{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor9{
      to{border-right-color: transparent;}
  }

  .terminal10 {
    animation:
        typewriter10 1s steps(15) 12.8s 1 normal both,
        blinkTextCursor10 400ms steps(15) 12.5s 13 normal,
        fadeOutCursor10 500ms 13.2s ease-out forwards;
  
  }
  @keyframes typewriter10 {
    from{width: 0;}
    to{width: 18rem;}
  }
  @keyframes blinkTextCursor10{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor10{
      to{border-right-color: transparent;}
  }

  .terminal11 {
    animation:
        typewriter11 1s steps(2) 13.8s 1 normal both,
        blinkTextCursor11 400ms steps(2) 13.6s infinite normal;
        /* fadeOutCursor10 500ms 14s ease-out forwards; */

  }
  @keyframes typewriter11 {
    from{width: 0;}
    to{width: 0.2em;}
  }
  @keyframes blinkTextCursor11{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }

/* @keyframes fadeOutCursor10{
    to{border-right-color: transparent;}
} */

.turndevice {
display: none;
border: green solid 1px;
text-align: center;
}

.turndevice > p {
display: inline-block;
color: white;
}

  @media only screen 
  and (min-width: 375px) 
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2){
    :root {
      --device-width:375px;
      --menu-height: 80px;
      --screen-height: 265px;
      --monitor-button-width: 155px;
    }
    /* body {
      width: 375px;
    } */
  }

  @media only screen 
  and (min-width: 414px)
  and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2){
    :root {
      --device-width: 414px;
      --menu-height: 90px;
      --screen-height: 290px;
    }
    /* body {
      width: 414px;
    } */
  }

  @media only screen and (orientation: landscape){
    .turndevice{
      grid-area: header main footer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      background-color: black;
      width: 100%;
      height: 100%;
    }

    body{
      width: 100%;
    }

    .hide {
      visibility: hidden;
      display: none;
    }

  }