@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

:root {
    font-size: 1rem;
    --menu-size: 1.3rem;
    --headline-fonts: "Menlo","Arial", sans-serif;
    --body-fonts: "VT323", "Courier", "Roboto", "Arial", sans-serif;
    --main-bluegray: #3a3d40;
    --main-dark: rgba(0, 0, 0, 1);
    --main-white: white;
    --main-blue: rgb(0, 0, 255, 1);
    --height: 100vh;
    --height-auto: auto;
    --height-90: 85vh;
    --BGcolor: #262822;
    --BGcolor: linear-gradient(#262822 70%, black 120%);
    --device-width: 320px;
    --menu-height: 65px;
    --screen-height: 225px;
    --monitor-height: calc(var(--screen-height) + var(--menu-size));
    --monitor-top-height: calc(var(--menu-height) - var(--menu-size));
    --monitor-button-section-height: 7rem;
    --monitor-button-height: 3.5rem;
    --monitor-button-width: 7rem;
    --postit-fontsize: 4.2rem;
    --typeLengthShort: 11rem;
    --typeLengthMedium: 15.5rem;
    --typeLengthLong: 18rem;
    --typeLengthHeading: 18rem;
    --postit-1Margin: -25px -11px 0 0;
    --postit-2Margin: -31px 0 0 -20px;
}

* {
  margin: 0px;
  padding: 0px;
  z-index: 1;
  box-sizing: border-box;
  font-size: var(--font-size);
}

html{
  background-color: black;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* outline: solid teal 3px; */
  width: var(--device-width);
  min-height: 100vh;
  max-height: 100%;
  font-family: var(--body-fonts);
  color: var(--main-white);
  background: var(--BGcolor);
  /* align-items: center; */
  box-shadow: 0 0 20px 20px black;
}

/* ------------------------------------ Background image Sony Trinitron -------------------------------------- */
.bgcontainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* outline: solid red 1px; */
  background-image: url(images/sonyMonitorTiny.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 136%;
}

.bgcontainer > * {
  flex: 1 1 auto;
}

.onLight {
  position: absolute;
  background: radial-gradient(ellipse at center, rgba(245, 212, 102, 0.9) 14%, rgba(255, 255, 255, 0.0) 40%, rgba(255, 255, 255, 0) 100%);
  width: 6rem;
  height: 2.8rem;
  border-radius: 20%;
  top: 0rem;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%,0);
  animation: ligthsOn 10s ease-out infinite;
  /* outline: blue solid 3px; */
}



/* ------------------------------------ Content on the display -------------------------------------- */
.onMonitor {
  width: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: radial-gradient(var(--main-blue), var(--main-dark) 120%);
  top: var(--monitor-top-height);
  height: var(--monitor-height);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1), inset 0px 0px 50px 10px rgba(0, 0, 0, 1);
  border-radius: 10% 10%;
  /* outline: purple solid 3px; */
  margin-bottom: var(--monitor-top-height);
  overflow: hidden;
  scrollbar-width: none;
}

.onMonitor::after {
  flex: 1 1 auto;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.01), rgba(0, 0, 255, 0.03));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
  overflow: hidden;
  /* outline: green solid 3px; */
}

/* ------------------------------------ Top menu -------------------------------------- */


header {
  position: sticky;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* outline: hotpink solid 3px; */
  background-color: var(--main-white);
  box-shadow: 0px 0px 5px 1px var(--main-white);
}

.navbar > ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.navbar > ul > li {
  list-style-type: none;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: black;
  /* outline: hotpink solid 3px; */
  background-color: white;
  font-size: var(--menu-size);
}


.navbar > ul > li > a:hover{
  background-color: black;
  color: white;
}

/* ----------------------------- Content on display --------------------------- */
.sectionA {
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-left: 1rem;
  /* outline: yellow solid 3px; */

}

.sectionA::-webkit-scrollbar {
  display: none;
}

.sectionA > *{
  font-size: var(--body-fonts);
  text-shadow: 0 0 4px white;
}

.textWithSpace {
  margin-top: 2%;
  /* outline: hotpink solid 3px; */

}

.list {
  list-style-type: none;
  align-items: flex-start;
  justify-self: flex-start;
  /* outline: hotpink solid 3px; */
}

.sectionA a {
  text-decoration: none;
  text-decoration: underline;
  color: var(--main-white);
  font-size: var(--body-fonts);
  /* outline: hotpink solid 3px; */
}

h1{
  text-shadow: 0 0 3px white;
  /* outline: red solid 3px; */
}

h2 {
  margin-top: 5%;
  /* outline: hotpink solid 3px; */
  text-decoration: underline;
}

h3 {
  margin-top: 5%;
}

.headline {
    display: block;
    border-right: 5px solid rgba(0, 0, 0, 0);
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    /* outline: hotpink solid 3px; */
}

img {
  display: block;
  margin: 2% auto;
  width: 50%;
  /* max-width: 100%; */
}

.dataList > li{
  list-style-type: none;
}


/* ----------------------------- Content beneath the display like the buttons --------------------------- */
.sectionB{
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-end;
  align-items: flex-start;
  height: var(--monitor-button-section-height);
  width: 100%;
  /* outline: solid red 3px; */
}

.images {
  width: 100%;
  height: auto;
}

.blackButtons {
  flex: 1 1 auto;
  display: block;
  justify-self: flex-end;
  align-self: flex-end;
  width: var(--monitor-button-width);
  height: var(--monitor-button-height);
  /* background-color: rgba(255, 0, 0, 0.338); */
}

.blackButtons > .button {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.whiteButtons {
  flex: 1 1 auto;
  justify-self: flex-end;
  align-self: flex-end;
  margin-right: 6px;
  width: var(--monitor-button-width);
  height: var(--monitor-button-height);
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.whiteButtons > .button {
  flex: 1 1 auto;
  display: block;
  border: none;
  width: 100%;
  height: 100%;
  /* background: rgba(255, 255, 255, 0.082); */
  z-index: 1;
}

.postit-1-wrapper{
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  justify-self: flex-start;
  align-self: flex-start;
  height: 56px;
  /* background-color: rgba(255, 0, 204, 0.303); */
  z-index: 4;
}

.postit-1{
  position: relative;
  flex: 1 0 auto;
  margin-right: auto;
  justify-self: flex-start;
  align-self: flex-start;
  max-width: 60px;
  width: 50px;
  height: 3rem;
  /* background-color: rgba(0, 0, 255, 0.303); */
  z-index: 4;
}
.postit-1 > img {
  margin-top: -7px;
  margin-left: -14px;
  width: 4.2rem;
  transform: skew(10deg, -15deg) scaleY(calc(6 / 8));
  filter: drop-shadow(2px 5px 4px rgb(0, 0, 0));
}

.postit-1 figcaption {
  position: absolute;
  margin: var(--postit-1Margin);
  top: 50%;
  left: -50%;
  right: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: pre;
  font-family: 'Caveat', cursive;
  transform: rotateZ(-17deg);
  font-size: 0.8rem;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 0.5rem;
  color: black;
  z-index: 10;
}

.postit-2{
  flex: 1 2 auto;
  justify-self: flex-end;
  align-self: flex-end;
  margin-right: 4px;
  max-width: 80px;
  width: 50px;
  height: 4rem;
  z-index: 2;
  /* background-color: rgba(43, 255, 0, 0.303); */
}
.postit-2-wrapper {
  z-index: 5;
  position: relative;
  width: inherit;
}

.postit-2 img {
  margin-top: -10px;
  width: 4.1rem;
  transform: rotateZ(15deg);
  z-index: 5;
  filter: drop-shadow(3px 3px 4px rgb(0, 0, 0));
}

.postit-2 figcaption {
  position: absolute;
  margin-top: 29px;
  margin: var(--postit-2Margin);
  top: 50%;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: pre;
  font-family: 'Caveat', cursive;
  transform: rotateZ(17deg);
  font-size: 0.8rem;
  word-spacing: 1px;
  letter-spacing: 1px;
  line-height: 0.5rem;
  color: black;
  z-index: 10;
}



/* ------------------------ Content beneath the monitor like the quotes and aditional information ----------------------- */
.sectionC {
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 0 1rem;
  width: 100%;
}

.quoteContainer {
  width: 18rem;
  flex: 1 1 auto;
  /* outline: red solid 3px; */
  background-color: rgba(0, 0, 0, 0.447); 
  margin: 5% 5%; 
  z-index: -1; 
  border-radius: 1rem;
}

.quoteContainer > figcaption {
  padding-left: 5%; 
  padding-bottom: 5%;
}

blockquote {
  margin: 0 auto;
}

.quote {
  color: var(--main-white);
  text-align: center; 
  padding: 5% 5%; 
  max-width: 800px; 
  margin: 0 auto;
}

.quote > p {
  background-color: rgba(128, 128, 128, 0.269);
  display: block;
  padding: 0.5rem;
  border-radius: 1rem;
}

#adInfoContainer {
  margin: 0 auto;
  padding: 5% 5%; 
  
}

aside {
  background-color: rgba(0, 0, 0, 0.447); 
  z-index: -1; 
  border-radius: 20px;
}

#adInfo{
  text-align: center;
  font-size: 0.8rem;
  white-space: pre;
  text-shadow: 0px 0px 6px white;
}

.code {
  white-space: pre;
  text-align: left;
  font-size: 0.5rem;
  padding-left: 0px;
}

.noCode {
  white-space: pre;
  text-align: left;
  font-size: var(--body-fonts);
  padding-left: 0px;
}

.hidden {
  display: none;
}

.showAdInfo {
  width: 18rem;
  overflow: hidden;
  display: block;
}

.showAdInfo2 {
  width: 18rem;
  overflow: hidden;
  display: block;
}

#adInfo2Container{
  padding: 5% 5%; 
}

#adInfo2 {
  font-size: 0.7rem;
  white-space: pre;
  width: 100%;
  height: 100%;
}

footer{
 margin-top: auto;
 text-align: center;
 color: rgba(128, 128, 128, 0.427);
 margin-top: 2rem;
}


/* ---------------------------- Other sites than index ------------------------------- */

span.anchor {
  display: block;
  position: relative;
  top: -2rem;
  visibility: hidden;
}

.firstArticle {
  text-decoration: underline;
}

.subheading {
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.audioPlayer {
  display: block;
  margin: 5% auto;
  width: 90%; 
  height: 5rem;
  border-radius: 20px;
  box-shadow: 0 0 10px 10px black;
  background-color: white;
}

.asidePlayer {
  width: 100%;
  margin-top: 2%;
}


/* ------------------------------------- Animation ------------------------------------ */
@keyframes ligthsOn {
  from {
    opacity: 0.5;
  }
  4% {
    opacity: 0.7;
  }
  /* 8% {
    opacity: 0.45;
  } */
  12% {
    opacity: 0.65;
  }
  /* 16% {
    opacity: 0.30;
  } */
  20% {
    opacity: 0.5;
  }
  24% {
    opacity: 0.9;
  }
  /* 28% {
    opacity: 0.25;
  } */
  /* 32% {
    opacity: 0.30;
  } */
  36% {
    opacity: 1;
  }
  /* 40% {
    opacity: 0.4;
  } */
  44% {
    opacity: 0.6;
  }
  /* 48% {
    opacity: 0.35;
  } */
  /* 52% {
    opacity: 0.20;
  } */
  56% {
    opacity: 0.70;
  }
  60% {
    opacity: 0.5;
  }
  64% {
    opacity: 0.9;
  }
  /* 68% {
    opacity: .35;
  } */
  72% {
    opacity: 1;
  }
  /* 76% {
    opacity: 0.4;
  } */
  80% {
    opacity: .65;
  }
  /* 84% {
    opacity: 0.40;
  }
  88% {
    opacity: 0.35;
  } */
  92% {
    opacity: 1;
  }
  /* 96% {
    opacity: 0.3;
  } */
  to {
    opacity: 0.5;
  }
}


.terminal1 {
    animation: typewriter 1s steps(25) 500ms 1 normal both,
               blinkTextCursor 400ms steps(25) 13 normal,
               fadeOutCursor 500ms 1.8s ease-out forwards;
  
  }
  @keyframes typewriter {
    from{width: 0;}
    to{width: var(--typeLengthHeading);}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor {
      to{border-right-color: transparent;}
  }

  .infoAll {
    font-size: 1.2rem;
    display: block;
    border-right: 3px solid rgba(0, 0, 0, 0);
    white-space: nowrap;
    overflow: hidden;
  }


  .terminal2 {
    animation:
        typewriter2 1s steps(25) 2.5s 1 normal both,
        blinkTextCursor2 400ms steps(25) 2s 13 normal,
        fadeOutCursor2 500ms 3.6s ease-out forwards;
  
  }
  @keyframes typewriter2 {
    from{width: 0;}
    to{width: var(--typeLengthLong)}
  }
  @keyframes blinkTextCursor2{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor2 {
      to{border-right-color: transparent;}
  } 

  .terminal3 {
    animation:
        typewriter3 1s steps(25) 4s 1 normal both,
        blinkTextCursor3 400ms steps(25) 3.5s 13 normal,
        fadeOutCursor3 500ms 4.8s ease-out forwards;
  
  }
  @keyframes typewriter3 {
    from{width: 0;}
    to{width: var(--typeLengthLong);}
  }
  @keyframes blinkTextCursor3{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor3 {
      to{border-right-color: transparent;}
  }
  
  .terminal4 {
    animation:
        typewriter4 1s steps(25) 5s 1 normal both,
        blinkTextCursor4 400ms steps(25) 5.2s normal,
        fadeOutCursor4 500ms 6.5s ease-out forwards;
  
  }
  @keyframes typewriter4 {
    from{width: 0;}
    to{width: var(--typeLengthMedium);}
  }
  @keyframes blinkTextCursor4{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor4 {
      to{border-right-color: transparent;}
  }

  .terminal5 {
    animation:
        typewriter5 1s steps(35) 6.3s 1 normal both,
        blinkTextCursor5 400ms steps(35) 6s 13 normal,
        fadeOutCursor5 500ms 7.5s ease-out forwards;
  
  }
  @keyframes typewriter5 {
    from{width: 0;}
    to{width: var(--typeLengthMedium);}
  }
  @keyframes blinkTextCursor5{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor5 {
      to{border-right-color: transparent;}
  }

  .terminal6 {
    animation:
        typewriter6 1s steps(25) 8s 1 normal both,
        blinkTextCursor6 400ms steps(25) 7.5s 13 normal,
        fadeOutCursor6 500ms 9s ease-out forwards;
  
  }
  @keyframes typewriter6 {
    from{width: 0;}
    to{width: var(--typeLengthMedium);}
  }
  @keyframes blinkTextCursor6{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor6{
      to{border-right-color: transparent;}
  }

  .terminal7 {
    animation:
        typewriter7 1s steps(10) 9.2s 1 normal both,
        blinkTextCursor7 400ms steps(15) 9.1s 13 normal,
        fadeOutCursor7 500ms 9.8s ease-out forwards;
  
  }
  @keyframes typewriter7 {
    from{width: 0;}
    to{width: var(--typeLengthShort);}
  }
  @keyframes blinkTextCursor7{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor7{
      to{border-right-color: transparent;}
  }

  .terminal8 {
    animation:
        typewriter8 1s steps(10) 10.2s 1 normal both,
        blinkTextCursor8 400ms steps(35) 10s 13 normal,
        fadeOutCursor8 500ms 11s ease-out forwards;
  
  }
  @keyframes typewriter8 {
    from{width: 0;}
    to{width: var(--typeLengthShort);}
  }
  @keyframes blinkTextCursor8{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor8{
      to{border-right-color: transparent;}
  }

  .terminal9 {
    animation:
        typewriter9 1s steps(15) 11.5s 1 normal both,
        blinkTextCursor9 400ms steps(15) 11.2s 13 normal,
        fadeOutCursor9 500ms 12.2s ease-out forwards;
  
  }
  @keyframes typewriter9 {
    from{width: 0;}
    to{width: var(--typeLengthLong);}
  }
  @keyframes blinkTextCursor9{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor9{
      to{border-right-color: transparent;}
  }

  .terminal10 {
    animation:
        typewriter10 1s steps(15) 12.8s 1 normal both,
        blinkTextCursor10 400ms steps(15) 12.5s 13 normal,
        fadeOutCursor10 500ms 13.2s ease-out forwards;
  
  }
  @keyframes typewriter10 {
    from{width: 0;}
    to{width: var(--typeLengthLong);}
  }
  @keyframes blinkTextCursor10{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }
  
  @keyframes fadeOutCursor10{
      to{border-right-color: transparent;}
  }

  .terminal11 {
    animation:
        typewriter11 1s steps(2) 13.8s 1 normal both,
        blinkTextCursor11 400ms steps(2) 13.6s infinite normal;

  }
  @keyframes typewriter11 {
    from{width: 0;}
    to{width: 0.2rem;}
  }
  @keyframes blinkTextCursor11{
    from{border-right-color: transparent;}
    to{border-right-color: var(--main-white);}
  }


/* -------------------------------- Hinder landscape mode ------------------------------- */
.hidden {
    display: none;
  }

.turndevice {
display: none;
/* border: green solid 1px; */
text-align: center;
}

.turndevice > p {
display: block;
color: white;
}

/* ---------------------------------- Media Queries ------------------------------- */
@media only screen 
and (min-width: 1025px)
and (-webkit-min-device-pixel-ratio: 1){
  :root {
    font-size: 2.2rem;
    --device-width: 1200px;
    --menu-height: 180px;
    --screen-height: 19em;
    --monitor-button-width: 12.6rem;
    --monitor-button-section-height: 8rem;
    --typeLengthShort: 8.5em;
    --typeLengthMedium: 12.5em;
    --typeLengthLong: 14.5em;
    --typeLengthHeading: 8em;
  }

  html {
    background-color: var(--BGcolor);
    height: auto;
  }

  .bgcontainer {
    background-size: 100%;
  }
  .onMonitor {
    width: 800px;
    max-width: 900px;
    height: 680px;
    margin-left: auto;
    margin-right: auto;
    /* outline: green solid 3px; */
  }
  .postit-2 {
    margin-right: 250px;
  }
  .postit-2 figcaption {
    margin-top: -69px;
    margin-left: -10px;
  }
  .postit-1 figcaption {
    margin-top: -39px;
    margin-left: 30px;
  }

  .blackButtons {
    flex: 0 0 auto;
    display: block;
    width: 9rem;
    height: var(--monitor-button-height);
    /* background-color: rgba(255, 0, 0, 0.338); */
    margin-right: 30px;
  }
  .whiteButtons {
    flex: 0 0 auto;
    width: 100px;
    width: var(--monitor-button-width);
    height: var(--monitor-button-height);
    margin-right: 75px;
    /* background-color: white; */
  }

  .quote {
    display: block;
    width: 800px;
    max-width: 900px;
  }

  .sectionC > 
  .quoteContainer,
  #adInfoContainer,
  #adInfo2Container {
    font-size: 1rem;
    width: 26rem;
  }

  #adInfo2{
    font-size: 1rem;
  }

  .code {
    font-size: 0.7rem;
  }


}

  @media only screen 
  and (min-width: 375px) 
  and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2){
    :root {
      font-size: 1.1rem;
      --device-width:375px;
      --menu-height: 80px;
      --screen-height: 265px;
      --monitor-button-width: 155px;
    }
  }

  @media only screen 
  and (min-width: 414px)
  and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2){
    :root {
      font-size: 1.2rem;
      --device-width: 414px;
      --menu-height: 90px;
      --screen-height: 290px;
    }
  }

  @media only screen 
  and (min-width: 768px)
  and (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2){
    :root {
      font-size: 1.8rem;
      --device-width: 768px;
      --menu-height: 150px;
      --screen-height: 560px;
      --monitor-button-width: 155px;
      --monitor-button-section-height: 8.9rem;
      --postit-1Margin: -35px -60px 0 0;
      --postit-2Margin: -60px 0 0 -12px;
    }
  }

  @media only screen 
  and (min-width: 1024px)
  and (max-width: 1100px)
  and (-webkit-min-device-pixel-ratio: 2){
    :root {
      font-size: 2.2rem;
      --device-width: 1024px;
      --menu-height: 200px;
      --screen-height: 750px;
      --monitor-button-width: 155px;
      --monitor-button-section-height: 9.8rem;
      --postit-1Margin: -40px -60px 0 0;
      --postit-2Margin: -80px 0 0 -10px;
      --monitor-button-height: 4.5rem;
    }
  }


/* ---------------------- Turn device query -------------------------- */
  @media only screen and 
  (min-width: 375px) and (max-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape){
    .turndevice {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      width: 100%;
      height: 100%;
    }
    body{
      width: 100%;
    }
    .hide {
      visibility: hidden;
      display: none;
    }
  }

  @media only screen and 
  (min-width: 414px) and (max-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape){
    .turndevice{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      width: 100%;
      height: 100%;
    }
    body{
      width: 100%;
    }
    .hide {
      display: none;
    }

  }

  @media only screen and 
  (min-width: 768px) and (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape){
    .turndevice{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      width: 100%;
      height: 100%;
    }

    body{
      width: 100%;
    }

    .hide {
      display: none;
    }

  }

  @media only screen and 
  (min-width: 1024px) and (max-width: 1100px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape){
    .turndevice{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      width: 100%;
      height: 100%;
    }

    body{
      width: 100%;
    }

    .hide {
      display: none;
    }

  }